.header {
  font-size: 1.5rem;
  background-color: #47a1ff;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite;
}

.row-header {
  margin: 0 auto;
  padding: 0;
}